@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <p>TODO:  write code on this page that shows the users rigs they have created.</p>