@*
    
*@
@{
}

    <div class="text-center">
        <h1 class="display-4">Contact Us!</h1>
        <br />
        <p>Email us at:</p>
        <br />
        <p>help@pedalplanner.com</p>
    </div>
