@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/overdrive.jpeg" alt="Overdrive Pedal" style="width:400px;height:200px;" />
    <br />
    <h1 class="display-4">Welcome to Pedal Planner</h1>
    <br />
    <p>The site where you can create and share  your pedal board dreams!</p>
</div>
